body {
    font-family: 'VT323';
    font-size: 16pt;
    margin: auto;
    max-width: 1000px;
    background-color: midnightblue;
    padding: 0px 5px;
    border-left: 10px red double;
    border-right: 10px red double;
}

#drawOptions {
    margin: auto;
    max-width: 1000px;
    background-color: aliceblue;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
    margin:0px
}

header {
    font-family: 'Bungee Shade';
    font-size: xx-large;
    width: auto;
    padding: 5px 0px 5px 5%;
    background-color: dodgerblue;
    color: darkred;
}

h3 {
    margin: 0px;
    padding: 0px;   
}


footer {
    font: Bungee;
    width: auto;
    padding: 25px 50px;
    background-color: dodgerblue;
    color: darkred;
    bottom: 0px;
    position: static;
}


div.scroll {
    margin:4px, 4px;
    padding:4px;
    background-color: lightsteelblue;
    width: 170px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

#silly{
    color: red;
    cursor: pointer;
}


